body {
    background-image: url("cover.jpg");
	background-repeat: no-repeat;
	
}
table{
	position: absolute;
    top: 400px;
    left:105px;
}
table2{
	position: absolute;
    top: 400px;
    left:105px;
}
